<configuration>

    <!-- dump status message on the console as they arrive -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="MailAppender" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>${SMTP_HOST}</smtpHost>
        <smtpPort>${SMTP_PORT}</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>${SMTP_USERNAME}</username>
        <password>${SMTP_PASSWORD}</password>
        <from>${APPLICATION_REPORTING_MAIL_FROM}</from>
        <to>${APPLICATION_REPORTING_MAIL_TO}</to>
        <subject>cryptox error report - %logger{20} - %msg</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/cryptox-service.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
        <appender-ref ref="MailAppender" />
    </root>
</configuration>
